.idea/*
pgs-sts.iml
/composer.phar

/app/bootstrap.php.cache
/app/config/parameters.yml
/app/cache/*
/app/logs/*
/app/propel/*
/web/*
/design/*

/public_html/assets/*
/public_html/bundles/*
/public_html/css/*
/public_html/fonts/*
/public_html/js/*
/public_html/uploads/

/bin/
/vendor/
!.gitkeep
