{% set parentExtend='PGSStudentBundle::base.html.twig' %}
{% set home= url('pgs_student_dashboard') %}
{% if is_granted('ROLE_ADMIN') %}
    {% set parentExtend='PGSAdminBundle::base.html.twig' %}
    {% set home=url('pgs_admin_dashboard') %}
{% elseif is_granted('ROLE_PRINCIPAL')%}
    {% set parentExtend='PGSPrincipalBundle::base.html.twig' %}
    {% set home= url('pgs_principal_dashboard') %}
{% elseif is_granted('ROLE_TEACHER')%}
    {% set parentExtend='PGSTeacherBundle::base.html.twig' %}
    {% set home= url('pgs_teacher_dashboard') %}
{% elseif is_granted('ROLE_STUDENT')%}
    {% set parentExtend='PGSStudentBundle::base.html.twig' %}
    {% set home= url('pgs_student_dashboard') %}
{% elseif is_granted('ROLE_PARENT')%}
    {% set parentExtend='PGSParentBundle::base.html.twig' %}
    {% set home= url('pgs_parent_dashboard') %}
{% endif%}

{% extends parentExtend %}

{% block breadcrumb %}
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="{{ home }}">
                <i class="fa fa-home"></i>
            </a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
                {% trans %}Change Password{% endtrans %}
        </li>
    </ul>
{% endblock breadcrumb %}

{% block content %}
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-key"></i>{% trans %}Change Password{% endtrans %}
            </div>
            <div class="tools">
                <a title="Help" class="help" data-toggle="modal" href="#portlet-help"> </a>
            </div>
        </div>
        <div class="portlet-body form">
            <form action="{{ path('pgs_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="pgs_user_change_password">
                {{ form_widget(form) }}
                <div>
                    <input type="submit" value="Change Password" />
                </div>
            </form>
        </div>
    </div>
{% endblock content %}