{#THUMBNAIL CONTAINER FOR UPLOADED IMAGE#}
<div class="form-group" style="margin-bottom: 3px; display: none" id="thumb-container">
    <label style="opacity: 0"></label>
    <div id="thumb">
        <img src="/uploads/school/{{ school.id }}/{{ school.logo }}" class="thumbnail"/>
    </div>
</div>
<div class="form-group" id="uploaders">
    <label style="opacity: 0"></label>
    <div class="fileUpload btn btn-primary">
        <span>Change Logo</span>
        <input type="file" name="images" id="images" class="upload" accept="image/jpg,image/jpeg,image/png,image/gif,image/bmp,image/tiff" />
    </div>
    <!-- for showing upload progress -->
    <div id="response" style="display: inline-table;">
        <img src="/uploads/ajax-loader.gif" id="loader" style="display: none">
        <span id="uploadStatus" style="display: none">Uploading...</span>
    </div>
    <input type="hidden" id="logo" value="{{ path('pgs_core_schools_upload', {'id': school.id}) }}"/>
</div>
