{%  extends 'PGSPublicBundle::base.html.twig' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <h1>ClassGizmo - Engage, Motivate, Communicate, Reward</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-3">
            <img src="/images/gizmo-large.png">
        </div>

        <div class="col-md-9 col-sm-9">
            <h2>Engage Students</h2>
            <p>Increase student focus and participation in classrooms.</p>

            <h2>Motivate Behavior</h2>
            <p>Improve targeted behaviors by rewarding positive behavior with real-time feedback.</p>

            <h2>Increase Communication</h2>
            <p>Promote communication between students, teachers, and parents</p>

            <h2>Reward</h2>
        </div>
    </div>
</div>
{% endblock content %}
